[submodule "suckless/dwm-flexipatch"]
	path = suckless/dwm-flexipatch
	url = https://github.com/bakkeby/dwm-flexipatch.git
[submodule "suckless/st-flexipatch"]
	path = suckless/st-flexipatch
	url = https://github.com/bakkeby/st-flexipatch.git
[submodule "suckless/dmenu-flexipatch"]
	path = suckless/dmenu-flexipatch
	url = https://github.com/bakkeby/dmenu-flexipatch.git
